---
layout: {{ lang }}
rupath: ru/about.html
enpath: en/about.html
---

== О проекте

Это летопись публичных выступлений на конференциях https://jugru.org/[JUG Ru Group], а также докладов на российских JUG-митапах.

С каждым годом количество докладов и докладчиков растёт, но информация о них разбросана по конференционным сайтам, с трудом поддаётся обзору и поиску.
Мы решили собрать из открытых источников и представить в унифицированном виде всю доступную информацию о докладах и докладчиках JUG-овских конференций и митапов.
В нашей базе содержится информация о {{ speakers | length }} link:{{ lang }}/speakers.html[спикерах] и {{ talks | length}} докладах. 

Авторы этого проекта не являются сотрудниками JUG Ru Group, проект сделан для собственного удовольствия и во имя добра.

Авторы проекта -- участники сообщества link:{{ lang }}/evttype/13.html[JUG.MSK]:

 * Дмитрий Белобородов icon:twitter[size=lg]https://twitter.com/dbelob[dbelob]
 * link:{{ lang }}/speaker/20.html[Николай Поташников]  
 * link:{{ lang }}/speaker/19.html[Иван Пономарёв] icon:twitter[size=lg]https://twitter.com/inponomarev[inponomarev]
