---
layout: {{ lang }}
rupath: ru/about.html
enpath: en/about.html
---

== About

This is a chronicle of public talks at https://jugru.org/[JUG Ru Group] conferences and JUG meetups in Russia.

The number of speakers and talks is growing each year, but information about them is scattered on conference websites, and is hard to browse and overview as a whole.
We decided to gather all the data about JUG talks and speakers available from publicly open sources and present it in a unified form.
In our database there are {{ speakers | length }} link:{{ lang }}/speakers.html[speaker] entries and {{ talks | length}} talk entries. 

Authors of this project are not employees of JUG Ru Group, this is made for our own pleasure and for the sake of Good.

Project authors are members of link:{{ lang }}/evttype/13.html[JUG.MSK] community:

 * Dmitry Beloborodov icon:twitter[size=lg]https://twitter.com/dbelob[dbelob]
 * link:{{ lang }}/speaker/20.html[Nikolay Potashnikov]  
 * link:{{ lang }}/speaker/19.html[Ivan Ponomarev] icon:twitter[size=lg]https://twitter.com/inponomarev[inponomarev]
