{% set comma = joiner() %}
{% set prev_ev_type = "-" %}
{% set first_prev_ev_type = true %}
{
  "ev_type2ev": {
  {% for event_item in events | sort(false,false,"eventTypeId") %}
    
    {% if event_item.eventTypeId != prev_ev_type %}
      {% if first_prev_ev_type %}{% else %}],{% endif %}
      {% set first_prev_ev_type = false %}
      "{{ event_item.eventTypeId }}": [ 
      {{ event_item | dump(6) | safe }}
    {% else %}
      ,
      {{ event_item | dump(6) | safe}}
    {% endif %} 
    {% set prev_ev_type = event_item.eventTypeId %}
  {% endfor %} 
  ]
  }
}
