---
layout: {{ lang }}
rupath: ru/event/{{ event_item.event_id }}.html
enpath: en/event/{{ event_item.event_id }}.html
---

{% set commaspace = joiner(", ") %}

{% macro translate(text, lang) %}
  {%- if lang == 'ru' %}
    {%- if text == 'Links' %}Ссылки{% endif %}
    {%- if text == 'Video links' %}Ссылки на видео{% endif %}
  {%- else %}
    {{ text }}
  {% endif %}
{% endmacro %}

{% macro output_i18n_text(i18n_node, lang, syntax) -%}
  {% set found = false %}
  {% for item in i18n_node -%}
    {% if item.language == lang -%}
      {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
      {%- set found = true -%}
    {% endif %}
  {% endfor %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'en' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'ru' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro output_talk(talk) -%}
  {{- '' }}| {% for speakerId in talk.speakerIds %} image:small/{{ speakers[speakerId].fileName }}[img,35,35]{% endfor %} link:../talk/{{ talk.id }}.html[{{ output_i18n_text(talk.name, lang, 'text') }}]
{% endmacro %}

{% macro output_event(event_item) %}
  {{- '' }}image::events/{{ ev_types[event_item.eventTypeId].logoFileName }}[link="../evttype/{{ event_item.eventTypeId }}.html"]
  {{- '\n' }}
  {{- '' }}===  {{ output_i18n_text(event_item.name, lang, 'text') }}
  {%- if event_item.startDate == event_item.endDate %}
    {{- " (" }}{{- event_item.startDate | ansiToGerman }})
  {%- else %}
    {{- " (" }}{{- event_item.startDate | ansiToGerman }} -- {{ event_item.endDate | ansiToGerman }})
  {% endif %}
  {{- '\n\n' }}

_{{ output_i18n_text(places[event_item.placeId].city, lang, 'text') }}_

{{ output_i18n_text(places[event_item.placeId].venueAddress, lang, 'text') }}

  {{- '\n\n' }}

  {%- for talk_id in event_item.talkIds -%}
    {{ output_talk(talks[talk_id]) }}
  {%- endfor -%}
{% endmacro %}

{{- output_event(event_item) }}

