---
layout: {{ lang }}
rupath: ru/evttype/{{ ev_type_id }}.html
enpath: en/evttype/{{ ev_type_id }}.html
---

{% set commaspace = joiner(", ") %}

{% macro translate(text, lang) %}
  {%- if lang == 'ru' %}
    {%- if text == 'Links' %}Ссылки{% endif %}
    {%- if text == 'Video links' %}Ссылки на видео{% endif %}
  {%- else %}
    {{ text }}
  {% endif %}
{% endmacro %}

{% macro output_i18n_text(i18n_node, lang, syntax) -%}
  {% set found = false %}
  {% for item in i18n_node -%}
    {% if item.language == lang -%}
      {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
      {%- set found = true -%}
    {% endif %}
  {% endfor %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'en' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'ru' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro output_talk(talk) -%}
  {{- '' }}| {% for speakerId in talk.speakerIds %} image:small/{{ speakers[speakerId].fileName }}[img,35,35]{% endfor %} link:../talk/{{ talk.id }}.html[{{ output_i18n_text(talk.name, lang, 'text') }}]
{% endmacro %}

{% macro output_event(event_item) %}
  {{- '' }}===  link:event/{{ event_item.event_id }}.html[{{ output_i18n_text(event_item.name, lang, 'text') }}]
  {%- if event_item.startDate == event_item.endDate %}
    {{- " (" }}{{- event_item.startDate | ansiToGerman }})
  {%- else %}
    {{- " (" }}{{- event_item.startDate | ansiToGerman }} -- {{ event_item.endDate | ansiToGerman }})
  {% endif %}
  {{- '\n\n' }}
  {{- '' }}[.talk-list]
  {{- '\n' }}[cols="1"]
  {{- '\n' }}|===
  {{- '\n' }}
  {%- for talk_id in event_item.talkIds -%}
    {{ output_talk(talks[talk_id]) }}
  {%- endfor -%}
  {{- '\n' }}
  {{- '' }}|===
{% endmacro %}

{% macro output_ev_type(ev_type_item) %}
  {{- '' }}= {{ output_i18n_text(ev_type_item.name, lang, 'text') }} 
  {{- '\n\n' }}
  {{- '' }}image::events/{{ ev_type_item.logoFileName }}[]
  {{- '\n\n' }}
  {{- output_i18n_text(ev_type_item.description, lang, 'text') }}
  {{- '\n\n' }}
  {%- if ev_type_item.siteLink %}
    {{- '* '}}{{ output_i18n_text(ev_type_item.siteLink, lang, 'text') }}
    {{- '\n' }}
  {% endif %}
  {%- if ev_type_item.vkLink %}
    {{- '* '}}{{ ev_type_item.vkLink }}
    {{- '\n' }}
  {% endif %}
  {%- if ev_type_item.twitterLink%}
    {{- '* '}}{{ ev_type_item.twitterLink}}
    {{- '\n' }}
    {% endif %}
  {%- if ev_type_item.facebookLink %}
    {{- '* '}}{{ ev_type_item.facebookLink }}
    {{- '\n' }}
  {% endif %}
  {%- if ev_type_item.youtubeLink %}
    {{- '* '}}{{ ev_type_item.youtubeLink }}
    {{- '\n' }}
  {% endif %}
  {%- if ev_type_item.telegramLink %}
    {{- '* '}}{{ ev_type_item.telegramLink }}
    {{- '\n' }}
  {% endif %}
  {{- '\n\n' }}

{% endmacro %}

{{- output_ev_type(ev_types[ev_type_id]) }}
{{- '\n\n' }}

{%- for event_item in ev_type2ev[ev_type_id] | sort(true, true, "startDate")   %}
  {{- output_event(event_item) }}
{% endfor %}
