---
layout: {{ lang }}
rupath: ru/search.html
enpath: en/search.html
---

== Search

++++

<script src="https://unpkg.com/simple-jekyll-search/dest/simple-jekyll-search.min.js"></script>

<input type="text" id="search-input" placeholder="Search...">
<ul id="results-container"></ul>

++++
