---
layout: {{ lang }}
rupath: ru/speaker/{{ speaker.id }}.html
enpath: en/speaker/{{ speaker.id }}.html
---
:icons: font

{% set commaspace = joiner(", ") %}

{% macro translate(text, lang) %}
  {%- if lang == 'ru' %}
    {%- if text == 'Links' %}Ссылки{% endif %}
    {%- if text == 'Video links' %}Ссылки на видео{% endif %}
  {%- else %}
    {{ text }}
  {% endif %}
{% endmacro %}

{% macro output_i18n_text(i18n_node, lang, syntax) -%}
  {% set found = false %}
  {% for item in i18n_node -%}
    {% if item.language == lang -%}
      {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
      {%- set found = true -%}
    {% endif %}
  {% endfor %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'en' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'ru' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro output_talk(talk) -%}
  {{- '' }}*  link:../talk/{{ talk.id }}.html[{{ output_i18n_text(talk.name, lang, 'text') }}] link:../event/{{ talk.event.event_id }}.html[({{ output_i18n_text(talk.event.name, lang, 'text') }}
{%- if event_item.startDate == event_item.endDate %}
    {{- ", " }}{{- talk.event.startDate | ansiToGerman }})
  {%- else %}
    {{- ", " }}{{- talk.event.startDate | ansiToGerman }} -- {{ talk.event.endDate | ansiToGerman }})
  {% endif %}]
{% endmacro %}


{% macro output_speaker(speaker) %}

{{- '' }}===  {{ output_i18n_text(speaker.name, lang, 'text') }}

[.author-big-image]
image::speakers/{{ speaker.fileName }}[width=300]

*{{ output_i18n_text(speaker.company, lang, 'text') }}*

{% if speaker.twitter %}icon:twitter[size=lg] https://twitter.com/{{ speaker.twitter }}[{{ speaker.twitter }}] {% endif %}
{% if speaker.gitHub %}icon:github[size=lg] https://github.com/{{ speaker.gitHub }}[{{ speaker.gitHub }}]{% endif %}
{{- '\n\n' }}
{% if speaker.javaChampion %}
_Java Champion_
{% endif %}

{{ output_i18n_text(speaker.bio, lang, 'text') }}

  {%- for event_type, speaker_talks in speaker.talks -%}
     {{- '\n\n' }}
image:events/{{ ev_types[event_type].logoFileName }}[width=80,link="../evttype/{{ event_type }}.html"]
     {{- '\n\n' }}
     {%- for talk_id in speaker_talks -%}
       {{ output_talk(talks[talk_id]) }}
     {%- endfor -%}
  {%- endfor -%}

{% endmacro %}

{{ output_speaker(speaker) }}

