---
layout: {{ lang }}
rupath: ru/speaker/{{ speaker.id }}.html
enpath: en/speaker/{{ speaker.id }}.html
---

{% set commaspace = joiner(", ") %}

{% macro translate(text, lang) %}
  {%- if lang == 'ru' %}
    {%- if text == 'Links' %}Ссылки{% endif %}
    {%- if text == 'Video links' %}Ссылки на видео{% endif %}
  {%- else %}
    {{ text }}
  {% endif %}
{% endmacro %}

{% macro output_i18n_text(i18n_node, lang, syntax) -%}
  {% set found = false %}
  {% for item in i18n_node -%}
    {% if item.language == lang -%}
      {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
      {%- set found = true -%}
    {% endif %}
  {% endfor %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'en' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'ru' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro output_talk(talk) -%}
  {{- '' }}*  link:../talk/{{ talk.id }}.html[{{ output_i18n_text(talk.name, lang, 'text') }}]
{% endmacro %}


{% macro output_speaker(speaker) %}

{{- '' }}===  {{ output_i18n_text(speaker.name, lang, 'text') }}

image::speakers/{{ speaker.fileName }}[width=300]

*{{ output_i18n_text(speaker.company, lang, 'text') }}*

Twitter: {{ speaker.twitter }}

{{ output_i18n_text(speaker.bio, lang, 'text') }}

{{- '\n\n' }}

  {%- for talk_id in speaker.talks -%}
     {{ output_talk(talks[talk_id]) }}
  {%- endfor -%}

{% endmacro %}

{{ output_speaker(speaker) }}

