---
layout: {{ lang }}
rupath: ru/talk/{{ talk.id }}.html
enpath: en/talk/{{ talk.id }}.html
---

{% set commaspace = joiner(", ") %}

{% macro translate(text, lang) %}
  {%- if lang == 'ru' %}
    {%- if text == 'Links' %}Ссылки{% endif %}
    {%- if text == 'Video links' %}Ссылки на видео{% endif %}
  {%- else %}
    {{ text }}
  {% endif %}
{% endmacro %}

{% macro output_i18n_text(i18n_node, lang, syntax) -%}
  {% set found = false %}
  {% for item in i18n_node -%}
    {% if item.language == lang -%}
      {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
      {%- set found = true -%}
    {% endif %}
  {% endfor %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'en' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if found == false %}
    {% for item in i18n_node -%}
      {% if item.language == 'ru' -%}
        {% if syntax == 'md' %}{{item.text | md2asciidoc | safe}}{% else %}{{ item.text }}{% endif %}
        {%- set found = true -%}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro output_talk(talk) -%}
  ====  {{ output_i18n_text(talk.name, lang, 'text') }}
  {{- '\n\n'  }}

image::events/{{ ev_types[talk.event.eventTypeId].logoFileName }}[width=50,link="evttype/{{ talk.event.eventTypeId }}.html"]link:../event/{{ talk.event.event_id }}.html[{{ output_i18n_text(talk.event.name, lang, 'text') }}
  {%- if event_item.startDate == event_item.endDate %}
    {{- " (" }}{{- talk.event.startDate | ansiToGerman }})
  {%- else %}
    {{- " (" }}{{- talk.event.startDate | ansiToGerman }} -- {{ talk.event.endDate | ansiToGerman }})
  {% endif %}]
  {{- '\n\n' }}

  {{- '\n\n'  }}
{% for speakerId in talk.speakerIds %}image:speakers/{{ speakers[speakerId].fileName }}[img,100,100,link="../speaker/{{ speakerId }}.html"] {% endfor %}
  {{- '\n\n' }}
  {{- '' }}* 
  {%- for speaker_item in talk.speakerIds -%}
    {%- if loop.first -%}{%- else -%}, {% endif -%}
    {{- ' _' -}}link:../speaker/{{ speaker_item }}.html[{{- output_i18n_text(speakers[speaker_item].name, lang, 'text') -}}]_
  {%- endfor -%}
  {{- '\n\n' }}
  {{- output_i18n_text(talk.shortDescription, lang, 'md') }}
  {{- '\n\n' }}
  {{- output_i18n_text(talk.longDescription, lang, 'md') }}
  {{- '\n\n' }}
  {%- for pres_link in talk.presentationLinks %}
    {%- if loop.first %}
      {{- '.'}}{{ translate('Links', lang) }}:
    {% endif %}
    {{- '* '}}{{pres_link}}
  {% endfor %}
  {{- '\n\n' }}
  {%- for video_link in talk.videoLinks %}
    {%- if loop.first %}
      {{- '.'}}{{ translate('Video links', lang) }}:
    {% endif %}
    {{- '* '}}{{video_link}}
  {% endfor %}
  {{- '\n\n' }}
{% endmacro %}

{{ output_talk(talk) }}