node_modules/
package-lock.json
jekyll/_site/
jekyll/images
jekyll/Gemfile.lock
jekyll/**/*.adoc
combined.json
deploy_rsa
talkfinder.tgz
jugdata/assets/images/small/
jekyll/.jekyll-cache/
jekyll/en/
jekyll/ru/
